.delete-btn,
.update-btn,
.search-btn,
.badge_gap {
    margin-left: 10px;
}

.show-title {
    display: flex !important;
    flex-direction: row !important ;
    justify-content: space-between !important ;
    align-items: center !important ;
}

tr {
    padding-right: 10px;
}

.badge-width {
    width: 2rem;
}

.hover-title:hover {
    cursor: pointer;
    text-decoration: underline !important ;
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
}